<div>
    <%- include("../encabezado"); %>
</div>

<style>
    a{
        color: black;
    }
    /* unvisited link */
a:link {
  color: rgb(0, 0, 0);
}

/* mouse over link */
a:hover {
  color: rgb(21, 4, 247);
}

/* selected link */
a:active {
  color: rgb(0, 247, 255);
}
</style>

<a href="programacion/create">
    <div style="float: left;border: solid;margin-left: 2.5%;margin-bottom: 2.5%; width: 30%;height: 45%;" >
        <div class="w3-card-4">
            <div style="border: solid 1px;">
                <img src="img/programacion/mañana.jpg" alt="Alps" width="100%" height="100%">
            </div>
            <div class="w3-container w3-center">
              <center><strong><p>Elaborar programacion de mañana</p></strong></center>
            </div>
        </div>
    </div>
</a>

<a href="programacion/tomorrow">
    <div style="float: left;border: solid;;margin-left: 2.5%;margin-bottom: 2.5%; width: 30%;height: 45%;">
        <div class="w3-card-4">
            <div style="border: solid 1px;">
                <img src="img/programacion/antigua.jpg" alt="Alps" width="100%" height="100%">
            </div>
            <div class="w3-container w3-center">
            <center><strong><p>Programacion de mañana</p></strong></center>
            </div>
        </div>
    </div>
</a>

<a href="programacion/actual">
    <div style="float: left;border: solid;;margin-left: 2.5%;margin-bottom: 2.5%; width: 30%;height: 45%;">
        <div class="w3-card-4">
            <div style="border: solid 1px;">
                <img src="img/programacion/actual.jpg" alt="Alps" width="100%" height="100%">
            </div>
            <div class="w3-container w3-center">
            <center><strong><p>Programacion actual</p></strong></center>
            </div>
        </div>
    </div>
</a>

